img {
    width: 300px;
    transition: .8s;
    border-radius: 10px;
}

img:hover {
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);  
}
.item {
    padding: 20px 20px 0 20px;
    box-shadow: 0.5em 0.5em 1em rgb(232, 232, 232),
        -0.5em -0.5em 1em rgb(232, 232, 232); 
    border-radius: 10px;
    position: relative;
    height: 700px;
    width: auto;
}
h5{
    font-weight: 700;
    color: goldenrod;
}
.btn-style{
    background-color: goldenrod;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

/* responsive  */
@media screen and (max-width: 576px) {
    img {
        width: 100%;
    }
    .item{
        height: 780px;
    }

}

@media screen and (min-width: 577px)and (max-width: 992px) {
    img {
        width: 100%;
    }

}