.statistics-section{
    background-position: center;
    background-size: center;
    background-image: url(../../../images/statistics.png);
    overflow-x: hidden;
    color: goldenrod;
}
.statistics-section h1{
    font-family: 'Oxygen', sans-serif;
}